*{
    margin: 0;
    padding: 0;
}
#main-wrapper{
    width: 970px;
    height: 1200px;
    background-color:#eaeaea;
    margin-left: 15px;
}
#head-content{
   display: inline-block;    
}
#logo {   
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    position:relative;
    top: 20px;
}

#head-content h1{
    margin-top: 40px;  
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    color: #474747;
    font-weight:normal ;
}
#banner-head{
    display: inline-block;
    background-color:#5283ad;
    width: 970px;
    height:50px;    
}

#banner-head h2{
    color: #f4f7fa;
    font-size: 28px;
    margin: 10px 0px 0px 45px;
    font-family: 'PT Sans', sans-serif;
    font-weight:normal;
}
#vertical-menu{
    width: 190px;
    height: 500px;
    /* border: solid 1px black; */
    padding: 15px 2px 0px 2px;
    display: inline-block;
    vertical-align: top;
    }

    #title-1{
        font-weight: bold;
        color: black;      
    }
    #parrafo-1{
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: bold;
        text-align: left;
        
    }
    #btn-videos, #btn-more-res{
        display:inline-block;
        text-decoration: none;
        border: black 1px solid;
        width: 180px;
        margin-left: 3px;
        margin-bottom: 3px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px gray;
        color: white;
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #btn-videos{
        background-color:#407caf ;
    }
    #btn-more-res{
        background-color:#ee8300;
    }
    #line-div{
        width: 100%;
        display: inline-block;
        height: 1px;
        background-color: #c0c0c0;
        
    }

    #footer-content-vert{
        margin: 10px 10px 10px 10px;
        width: 160px;
        height: 245px;
        /* border: solid 1px black; */
        display: inline-block;
        background-image:url(/images/ad_background.png);
        background-repeat:no-repeat ;
    }
    #publicidad-text{
        margin:15px 15px 0px 15px;
        display: inline-block;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 20px;

    }
    #btn-more{
        display: inline-block;
        text-align: center;
        width: 130px;
        background-color:#2ec7df;
        padding: 4px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 2px 2px black;
        color: white;
        font-size: 14px;
        font-weight: normal;
         margin-left: 10px;
    }
#content-wrapper{
    width: 750px;
    height: 800px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    
}
    #main-content-top{
        display: inline-block;   
        width: 100%;
        /* border: black 1px solid; */
    }
        #home-box-img{
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            /* border: black 1px solid; */
            vertical-align: top;
        }
        #home-box-text, h4{
            display: inline-block;
            color: #5283ad;
            font-weight:bold;
            margin-top: 5px;
            font-size: 13px;
            /* border: black 1px solid; */
            vertical-align: top;
        }

        #contact-wrapper{            
            display: inline-block;
            margin-left: 500px;
            font-size: 13px;
            /* width: 200px; */
            border: black 1px solid;
            vertical-align: top;
            text-align: top;
        }
        #contact-img-wrapper{
            display: inline-block;
            height: 30px;
            width: 30px;
            margin-top: 15px;
            border: black 1px solid;

        }
        #box-text-contact{
            width: 140px;
            display: inline-block;
            /* border: 1px black solid; */
            margin-top:0;
            vertical-align: top;
            margin-left: 10px;

        }
            #contact-text-1{
                display: inline-block;
                /* border: 1px black solid; */
                margin-top: 0;
                vertical-align: top;
                
            }   
            #contact-text-2{
                display: inline-block;
                /* border: 1px black solid; */
                margin-top: 0;
                
            }    
            #contact-text-3{
                display: inline-block;
                /* border: 1px black solid; */
                margin-top: 0;
                
            }     
        